.navbar {
    padding: 0;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
    position: sticky;
    top: 0;
    z-index: 100;
}
.nav-item{
        position: relative;
}

.nav-link {
    transition: transform 0.3s;
    cursor: pointer;
}

.nav-link:hover {
    transform: scale(1.1);

}
.badge {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #ffffff;
    /* Choose your badge background color */
    color: #ff5733;
    /* Choose your badge text color */
    padding: 2px 6px;
    border-radius: 10px;
    font-size: 12px;
}