.navbar {
    padding: 0;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
    position: sticky;
    top: 0;
    z-index: 100;
}

.nav-link {
    transition: transform 0.3s;
    cursor: pointer;
}

.nav-link:hover {
    transform: scale(1.1);

}