/* create post */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
}

.modal {
    padding: 1em;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: #fff;
    width: 400px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.modal h2 {
    margin-top: 0;
    margin-bottom: 20px;
}

.modal label {
    display: block;
    margin-bottom: 8px;
}

.modal input[type="text"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.modal button {
    padding: 8px 16px;
    margin-right: 8px;
    border-radius: 4px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

.modal button[type="submit"] {
    background-color: #f44336;
}

.modal button[type="submit"]:hover,
.modal button[type="submit"]:focus,
.modal button[type="submit"]:active {
    background-color: #f44336;
}

.modal button[type="button"] {
    background-color: #dc3545;
}

.modal button[type="button"]:hover,
.modal button[type="button"]:focus,
.modal button[type="button"]:active {
    background-color: #c82333;
}


.create-post-button {
    margin: 2em;
    display: inline-block;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    background-color: #dc3545;
    color: #fff;
    border: none;
    border-radius: 999px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .create-post-button:hover {
    background-color: #c82333;
  }
  
  

.news-field {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 5px;
  }
  
  .news-item {
    margin-top: 3em;
    margin-bottom: 20px;
    padding: 10px;
    background-color: #ffffff;
    border-radius: 5px;
  }
  
  .news-header {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .author-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
  }
  
  h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  h3 {
    font-size: 20px;
    margin-bottom: 5px;
  }
  
  p {
    font-size: 16px;
    margin-bottom: 5px;
  }
  
  img.news-image {
    width: 100%;
    max-height: 300px;
    object-fit: cover;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  
  button.like-button {
    background-color: #eaeaea;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
  }
.postsField{
  padding-top: 2em;
  padding-bottom:2em;
  min-height: 100vh;
  background: rgb(255,222,222);
  background: linear-gradient(90deg, rgba(255,222,222,0.5318761384335156) 0%, rgba(188,236,247,0.4098360655737705) 100%);
}